BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5173
BETTER_AUTH_API_KEY=
DB_FILE_NAME=.data/data.db
GENERATE_USE_MOCK=false
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_ADMIN_EMAILS=
AUTH_ADMIN_EMAIL_DOMAINS=
AI_APIKEY=
AI_BASEURL=
AI_COMPATIBILITY=
AI_MODEL=
AI_PROVIDER_NAME=
LITEPARSE_APIKEY=
LITEPARSE_BASEURL=
AXIOM_TOKEN=
AXIOM_DATASET=
AXIOM_URL=
MIDTRANS_SERVER_KEY=SB-Mid-server-Q8yeHNw7sSnZUllrcCzRzMAX
MIDTRANS_IS_PRODUCTION=false
PUBLIC_POSTHOG_KEY=
